@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", Helvetica, sans-serif;
}



header{
    opacity: 0.8;
    font-size: 1.2rem;
    width: 100%;
    height: 100px;
    /* text-align: center; */
    padding: 25px;
    font-weight: bold;
    color: rgb(230, 205, 244);
    background-image: linear-gradient(to left, rgba(157, 24, 228, 0.823), rgba(189, 104, 204, 0.663),rgba(157, 24, 228, 0.823));
    
}
header h1{
    display: inline-block;
    margin-left: 10%;
    text-shadow: 3px 3px 25px rgba(206, 5, 206, 0.907);
}

header ul{
    font-size: 1.2rem;
    list-style: none;
    float: right;
}
header a{
    text-decoration: none;
    color: rgb(230, 205, 244);
    text-shadow: 3px 3px 25px rgba(206, 5, 206, 0.907);
}
header li{
    opacity: 0.9;
    text-align: center;
    padding: 15px;
    color: rgba(157, 24, 228, 0.823);
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.li1:hover{
    background-color: rgba(189, 104, 204, 0.663);
}
.li2:hover{
    background-color: rgba(169, 82, 216, 0.823);
}
.li3:hover{
    background-color: rgba(163, 51, 223, 0.758);
}

header li:hover{
    transition: 0.3s;


}

#main-banner{
    padding: 10px;
    background-image: linear-gradient(to left, rgba(157, 24, 228, 0.823), rgba(189, 104, 204, 0.663),rgba(157, 24, 228, 0.823));
    box-shadow: 5px 5px 21px 10px rgb(183, 69, 236);

}

#content-banner{
    color: rgb(245, 245, 235);
    text-align: center;
    width: 50%;
    float: right;
    padding-top: 20px;
}

#content-banner h1{
    text-shadow: 3px 3px 25px rgba(206, 5, 206, 0.907);
    font-size: 1.8em;
}

#content-banner p{
    position: absolute;
    margin-top: 5%;
    width: 45%;
    font-size: 1.1em;
    margin-left: 40px;
}

#banner-image{
    display: inline-block;
    width: 50%;
}
 #banner-image img{
    border-radius: 5px;
 }

#section-characters{
    color: rgb(245, 245, 235);
    text-shadow: 3px 3px 25px rgba(206, 5, 206, 0.907);
    font-size: 1.5em;
}


.waifus{
    padding-top: 30px;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to left, rgba(157, 24, 228, 0.823), rgba(189, 104, 204, 0.663),rgba(157, 24, 228, 0.823));
    box-shadow: 5px 5px 21px 10px rgb(183, 69, 236);
}
section img{
    width: 100%;
}

.character{
    margin: 50px;
    display: inline-block;
    text-align: center;
    max-width: 25%;
    font-weight: bold;
}

.character h2{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(230, 205, 244);
    text-shadow: 3px 3px 10px rgba(255, 0, 255, 0.977);

}
.character p{
    text-align: left;
    color: rgb(241, 232, 232);
    font-size: 1.1rem;
    margin-top: 15px;
    margin-bottom: 10px;
}
.character button{
    /* background-image: linear-gradient(to right,rgba(232, 8, 176, 0.998),rgb(213, 52, 189),rgb(213, 52, 189),rgb(219, 2, 165)); */
    background-image: linear-gradient(to right,rgba(217, 8, 232, 0.742),rgb(205, 70, 232),rgb(205, 70, 232),rgba(217, 8, 232, 0.742));
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(238, 227, 227);
    box-shadow: 6px 6px 6px 2px rgba(180, 9, 242, 0.377);
}
footer{
    width: 100%;
    padding: 30px;
    color: rgb(227, 219, 233);
    text-align: center;
    background-image: linear-gradient(to left, rgba(157, 24, 228, 0.823), rgba(189, 104, 204, 0.663),rgba(157, 24, 228, 0.823));
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0.8;
    box-shadow: 3px 3px 20px 5px rgb(183, 69, 236);
}
.waifus img{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 18px rgba(45, 45, 45, 0.565)
}


/* Modal Images */
#modal-container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
    transition: 0.3s;
    text-align: center;
}
#img01{
    position: relative;
    top:5%;
    width: 80vw;
}

@media only screen and (max-width: 1238px){
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: 1.1em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    header{
        height: 180px;
        text-align: center;

    }
    header h1{
        margin: 0;
        display: block;

    }
    header ul{
        margin-top: 20px;
        display: inline-block;
        float: none;
    }
    header li{
        display: inline-block;
    }
    .character{
        max-width: 40%;
    }

}
@media only screen and (max-width: 1022px){
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: 1.1em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    .character{
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px){
    header{
        font-size: 1.1rem;
        height: 300px;
        text-align: center;

    }
    header h1{
        margin: 0;
        display: block;

    }
    header ul{
        margin-top: 10px;
        display: inline-block;
        float: none;
        margin-bottom: 10px;
    }
    header li{
        width: 300px;
        margin-top: 10px;
        padding: 8px;
        display: block;
    }
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: 1.1em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    .character{
        max-width: 80%;
    }
    #img01{
        position: relative;
        top:35%;
        width: 100vw;
    }



}

