/* Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
/* Changa */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

/* :root{
    --pink-gradient: linear-gradient(to left, rgba(157, 24, 228, 0.823), rgba(189, 104, 204, 0.663),rgba(157, 24, 228, 0.823));
} */

/* variables */
:root{
    --gray:rgba(220, 212, 212, 0.752);
    --white: rgb(242, 231, 231);

    --titleFont: "Lobster Two", Helvetica, sans-serif;
    --textFont: "Changa", Helvetica, sans-serif;

    --titleShadow:5px 5px 10px  rgb(2, 0, 5);

    --cardShadow:0px 0px 20px 10px #5110ba;
    --imgShadow: 0px 0px 20px 10px #5110ba;

    --headerOpacity:rgba(46, 44, 44, 0.442);
    --contentOpacity: rgba(108, 34, 182, 0.442);

    --textSize: 1.3rem;
    --titleSize: 1.5rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    background-image: url("./images/purple-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */

header{
    font-family: var(--titleFont);
    opacity: 0.8;
    font-size: var(--titleSize);
    width: 100%;
    height: 100px;
    padding: 25px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--headerOpacity);

    
}
header h1{
    display: inline-block;
    margin-left: 10%;
    text-shadow: var(--titleShadow);
}

header ul{
    font-size: 1.2rem;
    list-style: none;
    float: right;
}
header a{
    text-decoration: none;
    color: var(--white);
    text-shadow: var(--titleShadow);
}
header li{
    opacity: 0.9;
    text-align: center;
    padding: 15px;
    /* color: rgba(157, 24, 228, 0.823); */
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}
.li1:hover{
    background-color: #1d0f35;
}
.li2:hover{
    background-color: #1d0f35;
}
.li3:hover{
    background-color: #1d0f35;
}

header li:hover{
    transition: 0.3s;


}

/* main banner */

#main-banner{
    padding: 20px;
    background-color: var(--contentOpacity);
    box-shadow: var(--cardShadow);

}

#content-banner{
    font-weight: bold;
    text-align: center;
    width: 50%;
    float: right;
}

#content-banner h1{
    color: var(--white);
    font-family: var(--titleFont);
    text-shadow: var(--titleShadow);
    font-size: var(--titleSize);
    margin-bottom: 10px;
}

#content-banner p{
    color: var(--gray);
    font-family: var(--textFont);
    position: absolute;
    width: 45%;
    font-size: var(--textSize);
    margin-left: 40px;
}

#banner-image{
    display: inline-block;
    width: 50%;
}
 #banner-image img{
    border-radius: 5px;
 }


/* Section Characters */

#section-characters{
    font-family: var(--titleFont);
    color: var(--white);
    text-shadow: var(--titleShadow);
    font-size: var(--titleSize);
    font-weight: bold;
}


.waifus{
    background-color: var(--contentOpacity);
    padding-top: 30px;
    text-align: center;
    width: 100%;
    box-shadow: var(--cardShadow);
}
section img{
    width: 100%;
}

.character{
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--cardShadow);
    margin: 20px;
    display: inline-block;
    text-align: center;
    width: 30%;
    font-weight: bold;
}

.character h2{
    font-weight: bold;
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: var(--titleSize);
    color: var(--white);
    text-shadow: var(--titleShadow);

}
.character p{
    font-family: var(--textFont);
    text-align: justify;
    color: var(--gray);
    font-size: var(--textSize);
    margin-top: 15px;
    margin-bottom: 5px;
}
.character button{
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: var(--titleSize);
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2b1750d4;
    color: var(--white);
    box-shadow: var(--cardShadow);
}
.character button:hover{
    transition: 0.3s;
    background-color: #2b17508f;
}

/* footer */

footer{
    font-family: var(--titleFont);
    width: 100%;
    padding: 30px;
    color: var(--white);
    text-shadow: var(--titleShadow);
    text-align: center;
    background-color: var(--headerOpacity);
    font-weight: bold;
    font-size: var(--titleSize);
    box-shadow: var(--cardShadow);
}
.waifus img{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 18px rgba(45, 45, 45, 0.565)
}


/* Modal Images */
#modal-container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
    transition: 0.3s;
    text-align: center;
}
#img01{
    position: relative;
    top:5%;
    width: 80vw;
}

/* reponsivity */

@media only screen and (max-width: 1279px){
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: var(--textSize);
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    header{
        height: 180px;
        text-align: center;

    }
    header h1{
        margin: 0;
        display: block;

    }
    header ul{
        margin-top: 20px;
        display: inline-block;
        float: none;
    }
    header li{
        display: inline-block;
    }
    .character{
        width: 45%;
    }

}
@media only screen and (max-width: 1022px){
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: var(--textSize);
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    .character{
        width: 45%;
    }
}

@media only screen and (max-width: 839px){
    header{
        font-size: 1.1rem;
        height: 300px;
        text-align: center;

    }
    header h1{
        margin: 0;
        display: block;

    }
    header ul{
        margin-top: 10px;
        display: inline-block;
        float: none;
        margin-bottom: 10px;
    }
    header li{
        width: 300px;
        margin-top: 10px;
        padding: 8px;
        display: block;
    }
    #content-banner{
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
    #content-banner p{
        position: static;
        width: 100%;
        font-size: 1.1em;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #banner-image{
        display: block;
        width: 100%;
    }
    .character{
        width: 80%;
    }
    #img01{
        position: relative;
        top:35%;
        width: 100vw;
    }
}

@media only screen and (max-width: 340px){
    header{
        text-align: center;
        /* margin-left: ; */
        font-size: .8rem;
    }
    header li{
        margin-right: 0;
        width: 240px;
    }
    #section-characters h1{
        font-size: 1.3rem;
    } 
}

